[Desktop Entry]
Name=KTail
GenericName=KTail
Comment=Kubernetes Log viewer
Categories=Utility
Terminal=false
Type=Application
Exec=/usr/bin/ktail
Icon=/usr/share/icons/hicolor/scalable/apps/ktail.svg
